
#rates{
  
    .country-delivery{
         display: flex;
         margin-bottom: 2rem;
         margin-top: 2rem;
   
    }
    .country-img{
        width: 100%;
        background-image: url(https://starex.az/_next/static/image/assets/images/tariff-cover.298b3f915b038ef1b1128a33e02beb83.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        height: 20rem; 
        color: white;
        align-items: center;
        align-content: center;
        
    }
    .input{
        display: flex;
        align-items: center; 
        justify-content: center;
        margin-right: 2.5rem;
        
    }
    label{
        margin-left: 1rem;
       
    }
    h2{
        font-size: 3rem;
    }
    p{
        font-size: 1.2rem;
    
    }
    .flag-center{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .country{
        display: flex;
        align-items: center;
        align-content: center;
        margin: 1rem;
        border: 1px solid white;
        border-radius: 3px;
        height: 2rem;
        padding: 0 .5rem;
        
    }

}