footer {
  background-color: #EDEEEF;
}
footer .footer-svg {
  width: 7rem;
  height: 4rem;
  padding-top: 1rem;
}
footer .footer-svg img {
  width: 100%;
}
footer .start-end {
  display: flex;
  flex-direction: column;
  height: 16rem;
  justify-content: space-between;
}
footer h4 {
  font-size: 2.4rem;
  font-weight: 500;
}
footer ul {
  padding-top: 1rem;
}
footer ul li {
  color: rgb(140, 140, 140);
  list-style-type: none;
  padding-top: 1rem;
  font-size: 1.6rem;
}
footer .footer {
  padding-bottom: 3rem;
  border-bottom: 1px solid rgb(206, 205, 205);
}
footer .copyright {
  display: flex;
  align-content: center;
  align-items: center;
  padding-top: 2rem;
  font-size: 12px;
}
footer .footer-responsive-tel {
  display: none;
}

@media (max-width: 992px) and (min-width: 500px) {
  footer h4 {
    font-size: 1.6rem;
  }
  footer .row {
    flex-wrap: wrap;
    text-align: center;
  }
  footer .footer-logo {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  footer .footer-logo .start-end {
    display: none;
  }
  footer .footer-content {
    margin-bottom: 2rem;
    width: 100%;
  }
  footer .footer-content ul {
    display: none;
  }
  footer .footer-responsive-tel {
    display: inline-block;
    font-size: 16px;
  }
  footer .copyright {
    justify-content: center;
    font-size: 16px;
  }
}
header {
  color: #fff;
}
header .backround {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url(https://starex-assets.fra1.cdn.digitaloceanspaces.com/media/pictures/sayt_banner_usa_china_turkey_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .header-svg {
  width: 7rem;
  height: 4rem;
  padding-top: 1rem;
  margin-right: 0.5rem;
}
header img {
  width: 100%;
}
header .header-search {
  padding-top: 10rem;
  padding-top: 10rem;
}
header .btn {
  padding: 0.8rem;
  background-color: #005AFF;
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 1rem;
}
header .btn .btn-universal:hover {
  background-color: rgba(101, 101, 180, 0.9);
}
header input {
  padding: 0.8rem 1rem;
  width: 35rem;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: antiquewhite;
  font-size: 1rem;
  margin-right: 0.5rem;
}
header .slider-info {
  text-align: left;
  padding-top: 13rem;
  font-size: 30px;
}
header .slider-info > h3 > p {
  padding-top: 1rem;
  font-size: 1.6rem;
}
header .slider-info .btn {
  padding: 0.8rem;
  background-color: #005AFF;
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 1rem;
}
header .slider-info .btn .btn-universal:hover {
  background-color: rgba(101, 101, 180, 0.9);
}
header .header-backround {
  border-bottom: 1px solid rgb(140, 140, 140);
  width: 100%;
}
header .header-list {
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
}
header .header-list .header-list-up {
  display: flex;
}
header .header-list .header-list-up .app-download {
  align-items: center;
  font-size: 0.7rem;
}
header .header-list .header-list-up .header-list-login {
  display: flex;
  justify-content: right;
  gap: 0.5rem;
  align-items: center;
}
header .header-list .header-list-up .header-list-login > p {
  border-right: 1px solid gray;
  padding-right: 0.5rem;
}
header .header-list .header-list-up .header-list-login > svg {
  width: 1.7rem;
  height: auto;
}
header .header-list .header-list-down {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
}
header .header-list .header-list-down .header-declare {
  display: flex;
  justify-content: end;
}
header .header-list .header-list-down .header-declare .btn {
  padding: 0.8rem;
  background-color: #005AFF;
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 1rem;
}
header .header-list .header-list-down .header-declare .btn .btn-universal:hover {
  background-color: rgba(101, 101, 180, 0.9);
}
header .header-list .header-list-down .logo {
  font-size: 2.4rem;
  font-weight: 600;
}
header .header-list .header-list-down .header-list-wrapper {
  align-content: center;
  justify-content: center;
}
header .header-list .header-list-down .header-list-wrapper > ul {
  display: flex;
  list-style-type: none;
}
header .header-list .header-list-down .header-list-wrapper > ul > li {
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: inline-block;
}
header button {
  margin-left: 1rem;
  padding: 0.8rem;
  color: #fff;
  border-radius: 2px;
  border: 1px solid white;
  font-size: 1rem;
  background-color: transparent;
}
header a {
  text-decoration: none;
}
header .btn-toggle {
  display: none;
}
header .buttons-side {
  display: none;
}

.responsive-header-search {
  display: none;
}

@media (max-width: 992px) and (min-width: 500px) {
  header {
    width: 100%;
  }
  header .col-md-6 {
    width: 50%;
  }
  header .responsiv-backround {
    background-color: white;
  }
  header .row .header-list {
    width: 100%;
    background-color: white;
  }
  header .row .header-list .header-list-up {
    display: none;
  }
  header .row .header-list .header-list-up .row .header-svg {
    display: none;
    color: black;
  }
  header .row .header-list .header-list-down {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  header .row .header-list .header-list-down .header-list-wrapper {
    display: none;
  }
  header .row .header-list .header-list-down .logo {
    display: flex;
    justify-content: flex-start;
  }
  header .row .header-list .header-list-down .btn-toggle {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    background-color: rgb(230, 227, 227);
  }
  header .row .header-list .header-list-down .buttons-side {
    display: inline-block;
    display: flex;
    justify-content: flex-end;
  }
  header .row .header-list .header-list-down .buttons-side a {
    background-color: #e4dfdf;
    border-radius: 50%;
    align-content: center;
    padding: 1rem;
    margin: 0.5rem;
  }
  header .row .header-list .header-list-down .header-declare {
    display: none;
  }
  header .row .header-list .header-list-down .logo {
    align-items: center;
  }
  header .row .header-list .header-list-down .logo svg path {
    stroke: blue;
  }
  header .backround {
    width: 100%;
  }
  header .backround .slider-info {
    text-align: center;
  }
  header .backround .header-search {
    display: none;
  }
  header .header-search {
    display: inline-block;
    width: 100%;
  }
  .responsive-header-search {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 3rem 0;
    background-color: #F6F6F6;
  }
  .responsive-header-search h3 {
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .responsive-header-search p {
    font-size: 1.6rem;
    padding-bottom: 1rem;
  }
  .responsive-header-search input {
    width: 94.3%;
    margin: 1rem 0;
    height: 3rem;
  }
  .responsive-header-search .btn {
    height: 3rem;
    width: 95%;
    padding: 0.8rem;
    background-color: #005AFF;
    color: #fff;
    border-radius: 2px;
    border: none;
    font-size: 1rem;
  }
  .responsive-header-search .btn .btn-universal:hover {
    background-color: rgba(101, 101, 180, 0.9);
  }
}
#step-by-step .title {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2.5rem;
}
#step-by-step .title > h3 {
  padding-top: 0.5rem;
  font-size: 2.4rem;
}
#step-by-step .title > p {
  font-size: 1.6rem;
  padding-top: 1rem;
  color: rgb(140, 140, 140);
}
#step-by-step .steps .step-login-order-payment-delivry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
#step-by-step .steps .step-login-order-payment-delivry > h4 {
  font-size: 1.9rem;
  font-weight: 500;
}
#step-by-step .steps .step-login-order-payment-delivry > p {
  font-size: 1.6rem;
  color: rgb(140, 140, 140);
  padding-top: 0.7rem;
}
#step-by-step .steps .step-login-order-payment-delivry .icon {
  background-color: #4274F6;
  font-size: 20px;
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  align-items: center;
  align-content: center;
  margin-bottom: 3rem;
}
#step-by-step .steps .step-login-order-payment-delivry .icon > i {
  color: #fff;
}
#step-by-step .btn {
  padding: 0.8rem;
  background-color: #005AFF;
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 1rem;
}
#step-by-step .btn .btn-universal:hover {
  background-color: rgba(101, 101, 180, 0.9);
}

@media (max-width: 992px) and (min-width: 767px) {
  #step-by-step {
    width: 41.6666666667%;
  }
}
#pickUpPoints {
  background-color: rgb(237, 238, 239);
}
#pickUpPoints .title {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2.5rem;
}
#pickUpPoints .title > h3 {
  padding-top: 0.5rem;
  font-size: 2.4rem;
}
#pickUpPoints .title > p {
  font-size: 1.6rem;
  padding-top: 1rem;
  color: rgb(140, 140, 140);
}
#pickUpPoints .pickUp-input {
  align-items: center;
}
#pickUpPoints .pickUp-map {
  width: 100%;
  overflow: hidden;
}
#pickUpPoints select {
  width: 97%;
  height: auto;
  padding: 0.5rem;
  border-color: rgb(140, 140, 140);
  border-radius: 0.3rem;
  color: rgb(140, 140, 140);
}
#pickUpPoints .pickUp-option {
  width: 100%;
}
#pickUpPoints .pickUp-option select {
  margin-bottom: 1rem;
}

.pickUp-item {
  margin: 10rem 6rem;
}

@media (max-width: 992px) and (min-width: 500px) {
  #pickUpPoints .col-md-12 {
    width: 100%;
  }
  #pickUpPoints .row {
    flex-wrap: wrap;
  }
}
#services .card-title .title {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2.5rem;
}
#services .card-title .title > h3 {
  padding-top: 0.5rem;
  font-size: 2.4rem;
}
#services .card-title .title > p {
  font-size: 1.6rem;
  padding-top: 1rem;
  color: rgb(140, 140, 140);
}
#services .services-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#services .services-card {
  padding-right: 0.5rem;
}
#services .services-card .title {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2.5rem;
}
#services .services-card .title > h3 {
  padding-top: 0.5rem;
  font-size: 1.6rem;
}
#services .services-card .title > p {
  font-size: 1.6rem;
  padding-top: 1rem;
  color: rgb(140, 140, 140);
}

@media (max-width: 992px) and (min-width: 500px) {
  #services .container .services-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  #services .container .services-cards p {
    display: none;
  }
}
#starex-about .title {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2.5rem;
}
#starex-about .title > h3 {
  padding-top: 0.5rem;
  font-size: 2.4rem;
}
#starex-about .title > p {
  font-size: 1.6rem;
  padding-top: 1rem;
  color: rgb(140, 140, 140);
}
#starex-about .title {
  padding-left: 0.5rem;
}
#starex-about .image {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
  height: 54.5rem;
}
#starex-about .about {
  align-content: center;
  padding-left: 18rem;
}
#starex-about h6 {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(89, 89, 89);
}
#starex-about p {
  font-size: 1.1rem;
  padding: 0.4rem 0;
  color: rgb(89, 89, 89);
}
#starex-about .info {
  padding-left: 1rem;
  padding-top: 0.3rem;
}
#starex-about svg {
  transform: scale(0.7);
}
#starex-about .about-image {
  background-color: #EDEEEF;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

@media (max-width: 992px) and (min-width: 500px) {
  #starex-about svg {
    transform: scale(0.9);
  }
  #starex-about h6, #starex-about h3 {
    color: white;
    font-size: 24px;
  }
  #starex-about .title h3 {
    font-size: 24px;
  }
  #starex-about p {
    color: white;
    font-size: 16px;
  }
  #starex-about .title > p {
    color: white;
    font-size: 16px;
  }
  #starex-about .about-image {
    grid-template-columns: repeat(1, 1fr);
  }
  #starex-about .about {
    position: absolute;
    overflow: hidden;
    padding-top: 15rem;
  }
  #starex-about .image {
    overflow: hidden;
  }
  #starex-about .image img {
    width: 100%;
  }
}
#calculator .title {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2.5rem;
}
#calculator .title > h3 {
  padding-top: 0.5rem;
  font-size: 2.4rem;
}
#calculator .title > p {
  font-size: 1.6rem;
  padding-top: 1rem;
  color: rgb(140, 140, 140);
}
#calculator .title {
  padding-right: 20rem;
}
#calculator .calc-input {
  margin-right: 1rem;
}
#calculator select {
  width: 100%;
  height: 3rem;
  color: rgb(140, 140, 140);
}
#calculator input {
  width: 99%;
  margin-top: 1rem;
  height: 3rem;
}
#calculator button {
  width: 100%;
  margin-top: 1rem;
}
#calculator .btn {
  padding: 0.8rem;
  background-color: #005AFF;
  color: #fff;
  border-radius: 2px;
  border: none;
  font-size: 1rem;
}
#calculator .btn .btn-universal:hover {
  background-color: rgba(101, 101, 180, 0.9);
}
#calculator .calc {
  padding: 2.5rem;
  background-color: #EDEEEF;
}
#calculator .total {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-top: 1rem;
  font-size: 1.9rem;
}
#calculator .total-responsive {
  display: none;
}
#calculator .zero {
  display: none;
}

@media (max-width: 992px) and (min-width: 500px) {
  #calculator {
    width: 100%;
  }
  #calculator .calc {
    width: 100%;
  }
  #calculator .total {
    display: none;
  }
  #calculator .zero {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.6rem;
    margin-top: 1rem;
    color: rgb(140, 140, 140);
    font-size: 1.9rem;
    border: 1px solid rgb(169, 167, 167);
    border-radius: 3px;
  }
  #calculator .total-responsive {
    display: inline-block;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 16px;
  }
}
#news {
  overflow: hidden;
}
#news .news-title {
  margin-bottom: 2rem;
  padding-left: 0.6rem;
}
#news .news-title h2 {
  font-size: 2.5rem;
  font-weight: 500;
}
#news .news-card {
  border: 1px solid rgb(203, 196, 196);
  border-radius: 0 0 0.3rem 0.3rem;
  margin: 0.7rem;
}
#news .news-card .img-up > img {
  width: 100%;
}
#news h4 {
  font-size: 1.9rem;
  font-weight: 500;
  overflow: hidden;
}
#news p {
  font-size: 1.6rem;
  color: rgb(140, 140, 140);
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#news .content-down {
  padding: 1rem;
}
#news .news-date {
  display: flex;
  align-items: center;
}
#news span {
  padding-top: 0.1rem;
  padding-left: 0.2rem;
}
#news .grid-row {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

@media (max-width: 992px) and (min-width: 500px) {
  #news .card-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  #news .news-card {
    flex: 0 0 auto;
  }
  #news .grid-row {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 767px) and (min-width: 200px) {
  #news .grid-row {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
}
#mobile-app .title {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2.5rem;
}
#mobile-app .title > h3 {
  padding-top: 0.5rem;
  font-size: 2.4rem;
}
#mobile-app .title > p {
  font-size: 1.6rem;
  padding-top: 1rem;
  color: rgb(140, 140, 140);
}
#mobile-app .mobile-title {
  padding: 10rem 3rem;
}
#mobile-app .mobile-svg {
  width: 10rem;
  height: 4rem;
  padding-right: 0.5rem;
}
#mobile-app .mobile-svg img {
  width: 100%;
}
#mobile-app .mobile-image img {
  width: 100%;
}

@media (max-width: 992px) and (min-width: 500px) {
  #mobile-app .mobile-image {
    display: none;
  }
  #mobile-app .mobile-title {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #mobile-app .mobile-title .title h3 {
    text-align: center;
  }
}
#condition-paragraph {
  font-size: 1.6rem;
}
#condition-paragraph ol {
  counter-reset: item;
  line-height: 2rem;
}
#condition-paragraph li {
  display: block;
}
#condition-paragraph li:before {
  content: counters(item, ".") "";
  counter-increment: item;
}
#condition-paragraph .list-in-h {
  padding: 2rem 0;
}
#condition-paragraph .unordred li {
  display: flex;
  list-style-type: none;
  line-height: 2rem;
}
#condition-paragraph .large {
  font-size: 5rem;
  font-family: RB;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 54, 78, 0.2);
  color: #fff;
  line-height: 1.2;
  font-weight: 1000;
}
#condition-paragraph .small {
  font-size: 32px;
  font-family: RM;
  color: #003087;
  padding-left: 30px;
  margin-top: -33px;
}

#rates {
  font-size: 14px;
}
#rates .country-delivery {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
#rates .country-img {
  width: 100%;
  background-image: url(https://starex.az/_next/static/image/assets/images/tariff-cover.298b3f915b038ef1b1128a33e02beb83.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 20rem;
  color: white;
  align-items: center;
  align-content: center;
}
#rates .input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.5rem;
}
#rates label {
  margin-left: 1rem;
}
#rates h2 {
  font-size: 3rem;
}
#rates p {
  font-size: 12px;
}
#rates .flag-center {
  display: flex;
  justify-content: center;
  width: 100%;
}
#rates .country {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 1rem;
  border: 1px solid white;
  border-radius: 3px;
  height: 2rem;
  padding: 0 0.5rem;
}

@media (max-width: 992px) and (min-width: 500px) {
  #rates p {
    font-size: 14px;
    padding-top: 1rem;
  }
  #rates input {
    display: none;
  }
  #rates .diferent-label {
    background-color: blue;
    border-radius: 4px;
    color: white;
    padding: 1rem 0.5rem;
  }
  #rates label {
    border: 0.5px solid rgb(173, 173, 173);
    padding: 1rem 0.5rem;
    border-radius: 4px;
  }
  #rates .orange-color {
    color: orange;
    border: 0.5px solid orange;
  }
  #rates .country-img {
    color: black;
    background-color: #EDEEEF;
    background-image: none;
  }
  #rates .country {
    border: none;
    align-items: center;
  }
  #rates .country svg {
    display: none;
  }
  #rates .country p {
    padding: 1rem 0.5rem;
  }
  #rates .row {
    align-items: center;
  }
}
#delivery-about .weight {
  background-color: white;
  font-size: 1.2rem;
  margin: 1rem;
  border-radius: 0.3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
#delivery-about p {
  padding: 1.5rem 1.5rem;
}
#delivery-about .container {
  background-color: #F5F5F5;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 992px) and (min-width: 500px) {
  #delivery-about .weight {
    background-color: white;
    font-size: 1.2rem;
    margin: 0;
    border-radius: 0.3rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  #delivery-about .weight p {
    border: 1px solid rgb(185, 183, 183);
  }
  #delivery-about .weight .even {
    background-color: rgb(243, 241, 241);
  }
}
#contact-title h2 {
  font-size: 2.4rem;
}
#contact-title p {
  font-size: 1.2rem;
  padding-top: 1.2rem;
  line-height: 1.8rem;
}
#contact-title .contact-title {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #EDEEEF;
  padding: 4rem 0;
}
#contact-content {
  font-size: 1.2rem;
}
#contact-content .contact-wrapper {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(171, 170, 170, 0.3);
  margin-right: 1.3rem;
  margin-bottom: 1.3rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
#contact-content .contact-wrapper p {
  padding: 1rem 0 1rem 1rem;
}
#contact-content svg {
  margin-right: 0.5rem;
  color: #005AFF;
}
#contact-content .location {
  border-radius: 50%;
  background-color: #EEF8FF;
  height: 3.8rem;
  width: 3.8rem;
  text-align: center;
  align-content: center;
}

@media (max-width: 992px) and (min-width: 500px) {
  #contact-content .col-6 {
    width: 100%;
  }
  #contact-content .row {
    flex-wrap: wrap;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "sans-serif", "Arial";
}

.container {
  padding: 0;
}

.row {
  display: flex;
}

section {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

footer {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.color-black a {
  color: rgb(83, 82, 82);
  font-weight: 500;
}

.color-black {
  color: rgb(83, 82, 82);
}

.color-white a {
  color: #fff;
  font-weight: 500;
}

.universal-backround {
  background-color: #f6f6f6;
}

.btn-yellow {
  color: #F5A214;
  border-color: #F5A214;
  font-weight: 500;
}

.header-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.137);
  background-color: white;
}

.blue-fill {
  fill: blue;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-12 {
  width: 100%;
}

@media (max-width: 992px) {
  .container {
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */