footer {
    background-color: #EDEEEF;
    .footer-svg{
        width: 7rem;
        height: 4rem;
        padding-top: 1rem;
        img{
            width: 100%;
        }
    }

    .start-end{ 
        display: flex;
        flex-direction: column;
        height: 16rem;
        justify-content: space-between;
    }
    h4{
        font-size: $font-24;
        font-weight: 500;
    }
    ul{
        padding-top: 1rem;
        li{
            color: $secondColor;
            list-style-type: none;
            padding-top: 1rem;
            font-size: $font-16;
        }
    }
    .footer{
        padding-bottom: 3rem;
        border-bottom: 1px solid rgb(206, 205, 205);
    }
    .copyright{
        display: flex;
        align-content: center;
        align-items: center ;
        padding-top: 2rem;
        font-size: 12px;
    }
    .footer-responsive-tel{
        display: none;
    }
}

@media (max-width:992px) and (min-width: 500px){
    footer{
        h4{
            font-size: $font-16;
        }
        .row{
            flex-wrap: wrap;
            text-align: center;
        }
        .footer-logo{
            width: 100%;
            .start-end{
                display: none;
            }
            margin-bottom: 1.5rem;
        }
        .footer-content{
            margin-bottom: 2rem;
            width: 100%;
            ul{
                display: none;
                
            }
        }
        .footer-responsive-tel{
            display: inline-block;
            font-size: 16px;
        }
        span{
            font-size: 15px;
        }
        .copyright{
            justify-content: center;
            font-size: 16px;
        }
    }
}
