#mobile-app {
    .title{
        @include primaryTitle ($align: left)
    }
    .mobile-title{
        padding: 10rem 3rem;

    }
    .mobile-svg{
        width:  10rem;
        height: 4rem;
        padding-right: .5rem;
        img{
            width: 100%;
        }
    }
    .mobile-image{
        img{
            width: 100%;
        }
    }

}
@media (max-width: 992px) and (min-width: 500px) {
    #mobile-app{
        .mobile-image{
            display: none;
        }
        .mobile-title{
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                h3{
                    text-align: center;
                }
            }
        }
    }
}
