#news {
   .news-title{
    margin-bottom: 2rem;
    padding-left: 0.6rem;
    h2{
        font-size: 2.5rem;
        font-weight: 500;       
    }
   }
   .news-card{
    border: 1px solid rgb(203 196 196);
    border-radius: 0 0 .3rem .3rem;
    margin: .7rem;
    .img-up{
        >img{
         width: 100%;
        }
    }
   }
   h4{
    font-size: $font-19;  
    font-weight: 500;
    }
    p{
        font-size: $font-16;
        color: $secondColor;
        padding-top: .6rem;
        padding-bottom: .6rem;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
    }
    .content-down{
        padding: 1rem;
    }
    .news-date{
        display: flex;
        align-items: center;
    }
    span{
        padding-top: .1rem;
        padding-left: .2rem;
    }


}