#pickUpPoints {
    background-color: rgb(237, 238, 239);
    .title{
        @include primaryTitle($align: left)
        
    }
    .pickUp-input{
        align-items: center;
    
        
    }
    .pickUp-map{
        overflow: hidden;
        
    }
    select{
        width: 97%;
        height: auto;
        padding: .5rem;   
        border-color: $secondColor;
        border-radius: .3rem;
        color: $secondColor;
    }
    .pickUp-option{
        width: 100%;
        select{
            margin-bottom: 1rem;
        }
    }
    }
    .pickUp-item{
      margin: 10rem 6rem;
        
    }

@media (max-width: 992px ) and (min-width: 500px){
    #pickUpPoints {
        .col-md-12{
            width: calc(100%/12*12);
        }
       .row{
        flex-wrap: wrap;
        }

    }
}

