#services { 
    .card-title{
        .title{
            @include primaryTitle ($align: left)
        }
    }
    .services-cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .services-card{

        padding-right: .5rem;
        .title{
            @include primaryTitle($align:left,$font: $font-16)
        }
    }
}

@media (max-width: 992px) and (min-width: 500px){
    #services{
     .container{
         
        .services-cards{
         grid-template-columns: repeat(2, 1fr);
         p{
            display: none;
         }
        }
     }
    }
}